<!DOCTYPE html>
<html>

<head>
    <title> car park</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- <h1>CAR PARK MANAGEMENT SYSTEM WITH ANPR</h1> -->
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CAR PARK MANAGEMENT SYSTEM WITH ANPR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            
            <a class="nav-item nav-link active" href="{{url_for('index')}}">Home <span class="sr-only"></span></a>
            <a class="nav-item nav-link" href="{{url_for('present')}}">Current</a>
            <a class="nav-item nav-link" href="{{url_for('history')}}">History</a>
          </div>
        </div>
      </nav>

    <!-- <div class="w3-bar w3-black">
        <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-mobile">Home</a>
        <a href="{{url_for('present')}}" class="w3-bar-item w3-button w3-mobile">Parking</a>
        <a href="{{url_for('history')}}" class="w3-bar-item w3-button w3-mobile">History</a>
      </div> -->



    <div class="container text-center">
        <div class="row">
            <div class="col">
                <form class="p-3 text-center" action='/' , method="post" enctype="multipart/form-data">
                    <input class="form-control" type="file" name="imagefile">
                    <input class="btn btn-primary mt-3" type="submit" value="enter">
                </form>
                {% if prediction %}
                <!-- <p class="text-center"> Vehicle Registration Number: {{prediction}}</p>
                <p class="text-center"> saved to database</p> -->
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        View Details
                    </button>
                </div>
                
            
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>License Number</td>
                                            <td>{{prediction}}</td>
                                        </tr>
                                        <tr>
                                            <td>arrived time</td>
                                            <td>{{entranceTime}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col">
                <form class="p-3 text-center" action="/forward/" method="post" enctype="multipart/form-data">
                    <input class="form-control" type="file" name="imagefile2">
                    <input class="btn btn-primary mt-3" type="submit" value="exit">
                </form>
            </div>
        </div>
    </div>
    {% if viewBill %}
    <!-- Button trigger modal -->
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            View Billing Information
        </button>
    </div>    

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Billing Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>License Number</td>
                                <td>{{prediction2}}</td>
                            </tr>
                            <tr>
                                <td>arrived time</td>
                                <td>{{entranceTime}}</td>
                            </tr>
                            <tr>
                                <td>exit time</td>
                                <td>{{exitTime}}</td>
                            </tr>
                            <tr>
                                <td>duration</td>
                                <td>{{duration}}</td>
                            </tr>
                            <tr>
                                <td>charge</td>
                                <td>LKR {{charge}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</body>

</html>
